* {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    background-image: radial-gradient(circle, #393a3b, #2e2f30, #232526, #191b1c, #0e1111);
    background-image: radial-gradient(circle, #9cc2c2, #72959b, #4c6a75, #2a424f, #0c1d2b);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
     url(./img/fondo_2.jpg);
     color: white;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

#contenedor {
    width: 90%;
    margin: 20px auto;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 10px 30px;
}
#contenedor-tamanio {
    grid-row: 2 / 4;
}
#contenedor-terminarP {
    grid-row: 4 / 6;
}
#contenedor-proceso-activo {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
#contenedor-proceso-espera {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}
#paguinas-ocupadas {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#contenedor-marco-pagina {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
}

.texto-numero {
    width: 100%;
    text-align: center;
}

.columna-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
select {
    width: 80px;
    height: 35px;
}
.btn-columna-1 {
    width: 70%;
    height: 35px;
    border-radius: 20px;
}

.columna-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activo-espera {
    width: 120px;
    height: 150px;
    border: 3px solid white;
    margin-top: 10px;
}
.texot-btn {
    padding-left: 40px;
}
.btn-columna-2 {
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
#procesos-espera > p:hover {
    background-color: rgba(130,128,16,1);
    cursor: pointer;
}

.columna-3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

td {
    border: 2px solid rgb(133, 132, 132);
}
tr > .pagina {
    color: black;
}

.num {
    width: 20px;
}

#marco-paguina {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

.p {
    text-align: center;
    margin: 2px;
    font-size: 15px;
}

.proceso-seleccionado-espera {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.color-memoria-a {
    background-color: rgb(55, 55, 246);
    text-align: center;
}
.color-memoria-b {
    background-color: rgb(39, 247, 237);
    text-align: center;
}
.color-memoria-c {
    background-color: rgb(92, 250, 92);
    text-align: center;
}
.color-memoria-d {
    background-color: rgb(246, 246, 49);
    text-align: center;
}
.color-memoria-e {
    background-color: rgb(246, 95, 246);
    text-align: center;
}

.numero {
    font-size: 25px;
}

button {
    color: white;
    background: rgb(130,128,16);
    background: linear-gradient(180deg, rgba(130,128,16,1) 14%, rgba(176,197,26,1) 85%);
    border: none;
}

button:hover {
    cursor: pointer;
    background: rgb(130,128,16);
    background: linear-gradient(0deg, rgba(130,128,16,1) 62%, rgba(176,197,26,1) 92%);
    transition: all 2s ease-in-out;
}

